html, body{
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(10, 120, 209);
    color: rgba(255, 255, 255, 0.89);
    margin-bottom: 100px;
    font-family: "Anton", sans-serif;
}

.nav-links a {
   color: #fff;
}
   
.logo {
    font-size: 32px;
}

.list {
    font-size: 36px;
    font-style: serif;
}

.list1 {
    font-size: 36px;
    font-style: serif;
    margin-left: 1px;
}

.option p{
    display: none;
}

.option1 {
    border: 1px inset #f1edee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(10, 120, 209);
    color: rgb(223, 229, 235);
    border-radius: 8px;
    text-align: left;
    width: 800px;
    margin-bottom: 10px;
    grid-column: 4 / 5;
    cursor: pointer;
}

.option1:hover {background: rgb(5, 76, 134);}

.option1 button{
    border-radius: 300px;
    border: none;
    cursor: pointer;
    background-color: rgb(10, 120, 209); 
    
}

.option1 span{
    display: flex;
}

.option1 i{
    display: none;
}

.mn {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
    margin-right: 70px;
    margin-left: 487px;
}

.mn1 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
    margin-right: 70px;
}

.btn{
    background-image: linear-gradient(to right, rgb(29, 156, 214) , rgb(68, 160, 221));
    width: 110px;
    height: 40px;
    font-size: 14px;
    border: none;
    box-shadow: -2px 2px #b3b3b3, -2px 2px #626262, -1px 1px #525252;
    margin-bottom: 30px;
    margin-left: 308px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,54,131,1) 41%, rgba(0,212,255,1) 100%);
    color: #FFF;
}



.body {
    font-family: "Manrope", sans-serif;
    margin-left: 100px;
}


#pag {
    text-align: center;
    margin: 0 auto;
    width: 327px;
    display: block;
    height: 100px;
    margin-top: 66px;
}

#pag a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

#pag1 {
    text-align: left;
    margin: 0 auto;
    width: 327px;
    display: block;
    height: 100px;
    margin-left: 267px;
    
}

#pag1 a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

#pag1 a.active {
    background-color: #0983bb;
    color: white;
}

ul {
    list-style:none;
    /* margin-left: 0px; */
    
}

.title {
    margin-right: 0px;
}

.title1 {
    margin-left: 124px;
}
  
.detail1 {
    /* position: absolute; */
    border: 1px inset #f1edee;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: rgb(10, 120, 209);
    color: rgb(223, 229, 235);
    border-radius: 8px;
    text-align: left;
    width: 474px;
    height: 503px;
    font-size: 23px;
    padding-left: 0px;
    padding-right: 34px;
    padding-top: 8px;
    padding-bottom: 28px;
    margin-left: 259px;
    margin-bottom: 17px;
    font-family: "Manrope", sans-serif;
}

.detail1 input {
    margin-right: 76px;
}

.detail2 {
    border: 1px inset #f1edee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(10, 120, 209);
    color: rgb(223, 229, 235);
    border-radius: 8px;
    text-align: left;
    width: 356px;
    height: 526px;
    font-size: 25px;
    padding-left: 0px;
    padding-right: 40px;
    padding-top: -47px;
    padding-bottom: 22px;
    margin-left: 259px;
    margin-bottom: 353px;
    font-family: "Manrope", sans-serif;
}

.detail2 span {
    cursor: pointer;
    margin-left: 316px;
    padding: 5px 10px;
    border-radius: 138px;
}

.detail2 span:hover {background: rgb(5, 76, 134);}

#detail2 {
    display: none;
}

#detail3 {
    display: none;
}

li {
    margin-top: 30px;
}

.editbtn {
    margin-left: 150px;
}

.editbtn button{
    width: 76px;
    height: 36px;
    font-size: 14px;
    border: none;
    box-shadow: -2px 2px #b3b3b3, -2px 2px #626262, -1px 1px #525252;
    margin-bottom: 0px;
    margin-left: 5px;
    border-radius: 0px;
    outline: none;
    cursor: pointer;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(255, 255, 255) 41%, rgb(35, 173, 201) 100%);
    color: #0e0d0d;
}

.editbtn a{
    color: #0e0d0d;
    font-weight: bold;
}

.input {
    color: #333;
    /* font-size: 1.2rem; */
    /* margin: 0 auto; */
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    margin-top: 10px;
    height: 23px;
    font-size: 17px;
    /* display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s; */
}

.menu-nav {
    background-color: #44B;
    display: flex;
    justify-content: space-between;
  }
  
  .menu-item {
    color: #FCC;
    padding: 3px;
  }
  
  .three-dots:after {
    cursor: pointer;
    color: #FFF;
    content: '\2807';
    font-size: 20px;
    padding: 0 5px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a div {
    padding: 2px;
  }
  
  .dropdown {
    position: absolute;
    right: 376px;
    background-color: rgb(21, 181, 230);
    box-shadow: 0px 0px 0px 0px #66D;
    outline: none;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    height: 60px;
    width: 60px;
    font-size: 18px;
    /* transition: opacity 0.1s, z-index 0.1s, max-height: 5s; */
  }

  .dropdown-container:focus {
    outline: none;
  }
  
  
  .dropdown-container:focus .dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    /* transition: opacity 0.2s, z-index 0.2s, max-height: 0.2s; */
  }

  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropup {
    position: relative;
    display: inline-block;
  }
  
  .dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
  }
  
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropup-content a:hover {background-color: #ccc}
  
  .dropup:hover .dropup-content {
    display: block;
  }
  
  .dropup:hover .dropbtn {
    background-color: #2980B9;
  }

  #detail{
    display: none;
    font-family: "Manrope", sans-serif;
  }

.close{
    cursor: pointer;
    margin-left: 427px;
    padding: 5px 10px;
    border-radius: 138px;
}

.close:hover {background: rgb(5, 76, 134);}

#hide {
    display: none;
}

#showList {
    font-family: "Manrope", sans-serif;
    margin-left: 124px;
}

.notification{
    border: 1px solid rgb(10, 120, 209);
    width: 200px;
    background-color: rgb(10, 120, 209);
    text-align: center;
    border-radius: 6px;
    position: absolute;
    top: 12%;
    left: 88%;
    font-family: "Manrope", sans-serif;
    color: #FFF;
    display: none;
}

#list0 {
    font-family: "Manrope", sans-serif;
    margin-left: 585px;
}
